.notification-continer {
    background-color: #232324;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    padding-bottom: 15px;
}


.notification-header {
    font: 400 17px / 26px Roboto, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    padding: 0px 18px;
    vertical-align: baseline;
    align-items: center;
    background-color: rgb(35, 35, 36);
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgb(53, 52, 54) 0px -1px 0px 0px inset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    color: rgb(201, 204, 207);
}

.notification-header>h2 {
    font: 500 17px / 26px Roboto, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    vertical-align: baseline;
    color: rgb(201, 204, 207);
    background-color: rgb(35, 35, 36);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}


.ant-setting-inner_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 18px;
    margin-top: 20px;
}



.ant-setting-inner_box h3 {
    font: 500 16px / 23px Roboto, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    vertical-align: baseline;
    color: #c9cccf;
}

.ant-setting-inner_card {
    box-sizing: border-box;
    font: 400 17px / 26px Roboto, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    padding: 8px 14px 8px 0;
    vertical-align: baseline;
    color: #c9cccf;

    text-decoration: none solid #c9cccf;
    border-radius: 12px;
    column-gap: 12px;
    display: grid;
    align-items: center;
    grid-template-columns: 44px 544px;
    -webkit-user-select: none;
    user-select: none;
}

.ant-setting-inner_card:hover {
    background-color: #313131;
}

.ant-setting-inner_card-text {
    display: flex;
    flex-direction: column;
}

.ant-setting-inner_card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-setting-inner_card-text>b {
    font: 400 15px / 26px Roboto, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    vertical-align: baseline;
    grid-column: 2;
    color: rgb(201, 204, 207);
    text-decoration-color: rgb(201, 204, 207);
    text-decoration-style: solid;
    text-decoration-thickness: auto;

}

.ant-setting-inner_card-text>p {
    font: 400 13px / 22px Roboto, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    vertical-align: baseline;
    grid-column: 2;
    color: rgb(150, 156, 157);
    text-decoration-color: rgb(150, 156, 157);
    text-decoration-style: solid;
    text-decoration-thickness: auto;

}