/* roboto */
@font-face {
  font-family: roboto;
  src: url("./fonts/roboto/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-user-select: none;
  user-select: none;
  font-family: roboto;
}

a {
  text-decoration: none;
  color: #000;
}

.app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-color: #161617;
}